# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.dll
Agent/CoopirAgent/CoopirAgent/obj/Debug/**
Agent/CoopirAgent/CoopirAgent/obj/publish/**
Agent/CoopirAgent/CoopirAgent/obj/Release/**
Agent/CoopirAgent/CoopirAgent/bin/**