<mat-toolbar fxLayout="row" color="primary">
    <span fxFlex>Case Files</span>
    <button mat-button *ngFor="let item of menuItems" fxHide.xs [routerLink]="item.route">
        <mat-icon class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
    </button>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
            <button mat-menu-item [routerLink]="item.route">
                <mat-icon class="mr">{{item.icon}}</mat-icon>
                {{item.label}}
            </button>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
    <router-outlet></router-outlet>
</mat-toolbar>


<head>
    <!--Style for the table of files is defined-->
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #545050;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <!--Table to display the cases-->
    <body>
    <table name="valid-cases" id="valid-cases">
        <!--Bolded text that defines the categories-->
        <tr>
            <th>File Name</th>
            <th>Created</th>
            <th>Last Modified</th>
        </tr>
        <!--Each case is placed in the table-->
        <!--The first item is ignored because it is just a placeholder-->
          <tr *ngFor="let item of fileList; let i=index" [routerLink]="item.route">
             <td *ngIf="i != 0"><button id="item.name" (click)="getFileInfo(item.name)" class="btn btn-primary btn-lg mr-2" style="width:100%">{{item.name}}</button></td>
             <td *ngIf="i != 0">{{item.created}}</td>
             <td *ngIf="i != 0">{{item.last_modified}}</td>
          </tr>
     </table> 
     </body>



<br><br>
<input type="file" id="uploader" class="file-input"
(change)="onFileSelected($event)" #fileUpload>
<button type="submit" id="submit_file" class="btn btn-primary btn-lg mr-2" (click)="submitFile($event)" disabled>Submit File</button>


<!--Doc viewer stuff-->
<ngx-doc-viewer
  [url]="doc"
  viewer="google"
  style="width:100%;height:50vh;"
></ngx-doc-viewer>