<div style="text-align:center" class="container mt-5">
    <h1 style="text-align:center">Welcome to CooPIR!</h1>
    <p style="text-align:center">Please login below</p>
    <!--Display CooPIR image-->
    <img src="assets/images/CooPIR_Pic.JPG" width="400" height="250"/>

    <br><br>

    <div>
        <!--Textbox for username-->
        <label for="username">Username: </label>
        &nbsp;&nbsp;&nbsp;
        <input type="text" id="username">  
        <br><br>
        
        <!--Textbox for password-->
        <label for="password">Password: </label>
        &nbsp;&nbsp;&nbsp;
        <input type="password" id="password">
        <br>
        <input type="checkbox" (click)="toggleVisibility()">Show Password
        <br><br>
        
        <button (click)="login()" class="btn btn-primary btn-lg mr-2">Login</button>
    </div>

</div>
